@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Section */

body {
    font-size: 62.5%;
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
}

/* Header Section */

header {
    display: flex;
    justify-content: center;
}

.title {
    font-size: 2rem;
}

/* Main Sectin */

