@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Global Variables */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Section */

body {
    font-family: "Permanent Marker", Arial, Helvetica, sans-serif;
    min-width: 100%;
}

/* Container Section */

.container {
    font-size: 62.5%;
    min-width: inherit;
}

/* Header Section */

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    padding: 1rem 0;
}

.game-title {
    font-size: 2.75rem;
    margin: 1rem 0 0 0;
}

/* Main Section */

main {
    display: flex; 
    align-items: center;
    justify-content: center;
}

/* Game prompts */

.game-prompts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0 0 0;
}

.round-display {
    font-size: 2.5rem;
    margin: 2rem 0 0 0;
}

.current-game-result {
    font-size: 2.25rem;
    margin: 3rem 0 0 0;
}

/* Game Player Icons */

.game-players-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 2rem 0 0 0;
}

.players-images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.players-images > img {
    height: 9rem;
    width: 10rem;
}

.players-title {
    font-size: 1.75rem;
}

/* Game Scores */

.player-scores {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.players-scores {
    font-size: 1.75rem;
    margin: 2rem 0 0 0;
}

.player-selection {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin: 2rem 0 0 0;
}

.game-controls {
    display: flex;
    gap: 3rem;
    margin: 2.5rem 0 0 0;
    min-width: 100%;
    align-items: center;
    justify-content: center;
}

button {
    font-family: "Permanent Marker";
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
}

button > img {
    height: 7rem;
    width: 9rem;
}

/* Footer Section */

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3rem;
    min-width: 100%;
}

footer p {
    font-size: 1.25rem;
}

dialog {
    position: absolute;
    top: 35%;
    margin: 0 auto;
    height: 18rem;
    width: 26rem;
    border-radius: .25rem;
    opacity: .9;
}

.dialog-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.declared-gameover {
    font-size: 2.5rem;
    text-align: center;
    margin: 1.25rem 0 0 0;
}

.declared-winner {
    font-size: 1.8rem;
    text-align: center;
    margin: 1.5rem 0 0 0;
}

#play-again {
    display: flex;
    font-size: 1.35rem;
    margin: 2rem auto 0;
    padding: .2rem;
    border-radius: .25rem;
}

/* Media Query Min 320px and Max 375px  */

@media screen and (min-width: 300px) and (max-width: 424px) {

    .game-title {
        font-size: 1.75rem;
        margin: .25rem 0 0 0;
    }

    .round-display {
        font-size: 1.75rem;
        margin: .25rem 0 0 0;
    }

    .current-game-result {
        font-size: 1.2rem;
        margin: 1rem 0 0 0;
    }

    .game-players-icons {
        margin: 1.5rem 0 0 0;
    }

    .players-images > img {
        height: auto;
        width: 8rem;
    }

    .players-title {
        font-size: 1.5rem;
    }

    .players-scores {
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
    }

    .player-selection {
        font-size: 1.25rem;
        margin: 1rem 0 0 0;
    }

    .game-selection {
        margin: 1rem 0 0 0;
    }

    .game-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1.5rem 0 0 0;
        display: flex;
        gap: 1.5rem;
    }

    button > img {
        height: 4rem;
        width: 5rem;
    }

    footer p {
        font-size: .8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    dialog {
        position: absolute;
        top: 35%;
        margin: 0 auto;
        height: 12rem;
        width: 18rem;
        border-radius: .25rem;
        opacity: .9;
    }
    
    .dialog-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .declared-gameover {
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }
    
    .declared-winner {
        font-size: 1.25rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }
    
    #play-again {
        display: flex;
        font-size: 1.1rem;
        margin: 1rem auto 0;
        padding: .2rem;
        border-radius: .25rem;
    }
}

/* Media Query Min: 425px and Max: 768px */

@media screen and (min-width: 425px) and (max-width: 768px) {

    .game-title {
        font-size: 2.5rem;
        margin: .5rem 0 0 0;
    }

    .round-display {
        font-size: 1.75rem;
        margin: .5rem 0 0 0;
    }

    .current-game-result {
        font-size: 1.75rem;
        margin: 1rem 0 0 0;
    }

    .game-players-icons {
        margin: 1rem 0 0 0;
    }

    .players-images > img {
        height: auto;
        width: 8rem;
    }

    .players-title {
        font-size: 1.5rem;
    }

    .players-scores {
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
    }

    .player-selection {
        font-size: 1.25rem;
        margin: 1rem 0 0 0;
    }

    .game-selection {
        margin: 1rem 0 0 0;
    }

    .game-controls {
        margin: 1.25rem 0 0 0;
        display: flex;
        gap: 3rem;
    }

    button > img {
        height: 5rem;
        width: 6rem;
    }

    footer p {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    dialog {
        position: absolute;
        top: 35%;
        margin: 0 auto;
        height: 12rem;
        width: 18rem;
        border-radius: .25rem;
        opacity: .9;
    }
    
    .dialog-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .declared-gameover {
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }
    
    .declared-winner {
        font-size: 1.25rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }
    
    #play-again {
        display: flex;
        font-size: 1.1rem;
        margin: 1rem auto 0;
        padding: .2rem;
        border-radius: .25rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .game-title {
        font-size: 2.5rem;
        margin: .5rem 0 0 0;
    }

    .round-display {
        font-size: 1.75rem;
        margin: .25rem 0 0 0;
    }

    .current-game-result {
        font-size: 1.75rem;
        margin: 1rem 0 0 0;
    }

    .game-players-icons {
        margin: 1.5rem 0 0 0;
    }

    .players-images > img {
        height: auto;
        width: 8rem;
    }

    .players-title {
        font-size: 1.5rem;
    }

    .players-scores {
        font-size: 1.5rem;
        margin: 1rem 0 0 0;
    }

    .player-selection {
        font-size: 1.25rem;
        margin: 1rem 0 0 0;
    }

    .game-selection {
        margin: 1rem 0 0 0;
    }

    .game-controls {
        margin: 1.25rem 0 0 0;
        display: flex;
        gap: 3rem;
    }

    button > img {
        height: 5rem;
        width: 6rem;
    }

    footer p {
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    dialog {
        position: absolute;
        top: 35%;
        margin: 0 auto;
        height: 12rem;
        width: 18rem;
        border-radius: .25rem;
        opacity: .9;
    }
    
    .dialog-box {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    
    .declared-gameover {
        font-size: 1.5rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }
    
    .declared-winner {
        font-size: 1.25rem;
        text-align: center;
        margin: 1rem 0 0 0;
    }
    
    #play-again {
        display: flex;
        font-size: 1.25rem;
        margin: 1rem auto 0;
        padding: .2rem;
        border-radius: .25rem;
    }
}